@{
    ViewData["Title"] = "Home";
}

<main role="main">
    <div class="container">

        <!-- Heading Row -->
        <div class="row my-4">
            <div class="col-lg-4">
                <h1>Lorem ipsum Melbourne?</h1>
                <p>Mamasita, trams secret laneway bars rooftop bars prahran hipsters Rod Laver, vic market cookie chaddie. Old melbourne gaol the G', the borek woman werribee wildlife ticket inspector melbourne cricket ground NGV culture fix, graffiti the emerald peacock street art.</p>
                <ul class="list list-magic strong bigger">
                    <li>Something smart - line 1</li>
                    <li>Something smart - line 2</li>
                    <li>Something smart - line 3</li>
                </ul>
            </div>
            <!-- /.col-md-4 -->

            @await Html.PartialAsync("_CarouselPartial")
        </div>
        <!-- /.row -->

        <h2 class="text-success">Success! You are ready for the UDUF 2019 - Umbraco Headless Tutorial.</h2>

        @await Html.PartialAsync("_ShopItemsPartial")

        <div class="row my-4">
            <div class="col-lg-4 col-md-6">
                <i class="material-icons md-150">widgets</i>
                <h2>USP 1</h2>
                <p>Details about the first unique selling point. Details about the first unique selling point again.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details</a></p>
            </div>
            <div class="col-lg-4 col-md-6">
                <i class="material-icons md-150">widgets</i>
                <h2>USP 2</h2>
                <p>Details about the second unique selling point. Details about the second unique selling point again.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details</a></p>
            </div>
            <div class="col-lg-4 col-md-6">
                <i class="material-icons md-150">widgets</i>
                <h2>USP 3</h2>
                <p>Details about the third unique selling point. Details about the third unique selling point again.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details</a></p>
            </div>
        </div><!-- /.row -->
    </div>
</main>